<div class="container my-3">
 	<div class="row justify-content-center my-3">
 		<div class="col-6-sm text-center my-1 mx-2">
			<a class="btn btn-outline-success" href="{{ .Site.Params.Twitter }}" target="_blank">
 				<i class="fab fa-fw fa-twitter"></i>&nbsp;&nbsp;Follow this on Twitter
			</a>
		</div>


		<div class="col-6-sm text-center my-1 mx-2">
			<a class="btn btn-outline-success" href="{{ .Site.Params.Patreon }}" target="_blank">
 				<i class="fab fa-fw fa-patreon"></i>&nbsp;&nbsp;Support this on Patreon
			</a>
		</div>
	</div>
</div>

