<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
  onload="if(submitted) {
  	document.getElementById('signup-success').classList.add('show');
  }">
</iframe>

<form id="signup" action="https://docs.google.com/forms/d/e/1FAIpQLSfxkXkMRHMjNpdv4WOAIlp8XRkkLD-JK-kWVaVj1L3CvmJ54Q/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;" class="form-inline mb-3 justify-content-center">
	<div class="col-4-md text-center mx-2">
		<div class="form-group">
			<input required name="entry.1956482561" class="form-control" type="text" placeholder="Email me...">
		</div>
	</div>
		
	<div class="col-4-md mx-2">	
		<div class="form-group">
			<select required name="entry.417095117" class="form-control selectpicker" data-width="200px" data-actions-box="true" data-live-search="true" data-selected-text-format="count" multiple title="About these states...">
				<option value="al">Alabama</option>
				<option value="ak">Alaska</option>
				<option value="az">Arizona</option>
				<option value="ar">Arkansas</option>
				<option value="ca">California</option>
				<option value="co">Colorado</option>
				<option value="ct">Connecticut</option>
				<option value="de">Delaware</option>
				<option value="fl">Florida</option>
				<option value="ga">Georgia</option>

				<option value="hi">Hawaii</option>
				<option value="id">Idaho</option>
				<option value="il">Illinois</option>
				<option value="in">Indiana</option>
				<option value="ia">Iowa</option>
				<option value="ks">Kansas</option>
				<option value="ky">Kentucky</option>
				<option value="la">Louisiana</option>
				<option value="me">Maine</option>
				<option value="md">Maryland</option>

				<option value="ma">Massachusetts</option>
				<option value="mi">Michigan</option>
				<option value="mn">Minnesota</option>
				<option value="ms">Mississippi</option>
				<option value="mo">Missouri</option>
				<option value="mt">Montana</option>
				<option value="ne">Nebraska</option>
				<option value="nv">Nevada</option>
				<option value="nh">New Hampshire</option>
				<option value="nj">New Jersey</option>

				<option value="nm">New Mexico</option>
				<option value="ny">New York</option>
				<option value="nc">North Carolina</option>
				<option value="nd">North Dakota</option>
				<option value="oh">Ohio</option>
				<option value="ok">Oklahoma</option>
				<option value="or">Oregon</option>
				<option value="pa">Pennsylvania</option>
				<option value="ri">Rhode Island</option>
				<option value="sc">South Carolina</option>

				<option value="sd">South Dakota</option>
				<option value="tn">Tennessee</option>
				<option value="tx">Texas</option>
				<option value="ut">Utah</option>
				<option value="vt">Vermont</option>
				<option value="va">Virginia</option>
				<option value="wa">Washington</option>
				<option value="dc">Washington DC</option>
				<option value="wv">West Virginia</option>
				<option value="wi">Wisconsin</option>
				<option value="wy">Wyoming</option>
			</select>
		</div>
	</div>

	<div class="col-4-md mx-2 text-center">	
		<div class="form-group">
			<button type="submit" class="btn btn-success">Sign up</button>
		</div>
	</div>

</form>