<!doctype html>
<html lang="en-US">


<head>
  {{ partial "head.html" . }}
</head>
<body style="background-color: #d9d9d9;">

<header>
  {{ partial "signup_success.html" . }}
</header>
 
 <div class="container ">

 	<div class="row mb-3">
 		<div class="col text-center mb-3">
 		  <h2 class="h2 my-3"><strong>Coronavirus (COVID-19) Drive-Thru Testing Sites</strong></h2>
 	    </div>
 	</div>

 	<div class="row">
 		<div class="col text-center">
 			<div class="text-muted">We send you new testing sites as they are added.</div>
 		</div>
 	</div>
 	
 	<div class="row justify-content-center my-3">
 		{{ partial "form.html" . }}
 	</div>
 

 	<div class="row my-3 justify-content-center ">
 	 
 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical ">
 			<a class="muted btn btn-primary " href="/al/">Alabama</a>
 			<a class="btn btn-primary " href="/ak/">Alaska</a>
 			<a class="btn btn-primary " href="/az/">Arizona</a>
 			<a class="btn btn-primary " href="/ar/">Arkansas</a>
 			<a class="btn btn-primary " href="/ca/">California</a>
 			<a class="btn btn-primary " href="/co/">Colorado</a>
 			<a class="btn btn-primary " href="/ct/">Connecticut</a>
 			<a class="btn btn-primary " href="/de/">Delaware</a>

 		  </div>
 		</div>

 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical">
 			<a class="btn btn-primary " href="/fl/">Florida</a>
 			<a class="btn btn-primary " href="/ga/">Georgia</a>
 			<a class="btn btn-primary " href="/hi/">Hawaii</a>
 			<a class="btn btn-primary " href="/id/">Idaho</a>
 			<a class="btn btn-primary " href="/il/">Illinois</a>
 			<a class="btn btn-primary " href="/in/">Indiana</a>
 			<a class="btn btn-primary " href="/ia/">Iowa</a>
 			<a class="btn btn-primary " href="/ks/">Kansas</a>
 		  </div>
 		</div>

 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical">
 			<a class="btn btn-primary " href="/ky/">Kentucky</a>
 			<a class="btn btn-primary " href="/la/">Louisiana</a>
 			<a class="btn btn-primary " href="/me/">Maine</a>
 			<a class="btn btn-primary " href="/md/">Maryland</a>
 			<a class="btn btn-primary " href="/ma/">Massachusetts</a>
 			<a class="btn btn-primary " href="/mi/">Michigan</a>
 			<a class="btn btn-primary " href="/mn/">Minnesota</a>
 			<a class="btn btn-primary " href="/ms/">Mississippi</a>
 		  </div>
 		</div>

 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical">
 			<a class="btn btn-primary" href="/mo/">Missouri</a>
 			<a class="btn btn-primary " href="/mt/">Montana</a>
 			<a class="btn btn-primary " href="/ne/">Nebraska</a>
 			<a class="btn btn-primary " href="/nv/">Nevada</a>
 			<a class="btn btn-primary " href="/nh/">New Hampshire</a>
 			<a class="btn btn-primary " href="/nj/">New Jersey</a>
 			<a class="btn btn-primary " href="/nm/">New Mexico</a>
 			<a class="btn btn-primary " href="/ny/">New York</a>
 		  </div>
 		</div>

 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical">
 		  	<a class="btn btn-primary " href="/nc/">North Carolina</a>
 			<a class="btn btn-primary " href="/nd/">North Dakota</a>
 			<a class="btn btn-primary " href="/oh/">Ohio</a>
 			<a class="btn btn-primary " href="/ok/">Oklahoma</a>
 			<a class="btn btn-primary " href="/or/">Oregon</a>
 			<a class="btn btn-primary " href="/pa/">Pennsylvania</a>
 			<a class="btn btn-primary " href="/ri/">Rhode Island</a>
 			<a class="btn btn-primary " href="/sc/">South Carolina</a>
 		

 		  </div>
 		</div>

 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical">
 		  	<a class="btn btn-primary " href="/sd/">South Dakota</a>
 			<a class="btn btn-primary " href="/tn/">Tennessee</a>
 			<a class="btn btn-primary " href="/tx/">Texas</a>
 			<a class="btn btn-primary " href="/ut/">Utah</a>
 			<a class="btn btn-primary " href="/vt/">Vermont</a>
 			<a class="btn btn-primary " href="/va/">Virginia</a>
 			<a class="btn btn-primary " href="/wa/">Washington</a>
 			<a class="btn btn-primary " href="/dc/">Washington D.C.</a>
 		

 		  </div>
 		</div>


 		<div class="col-sm my-1 text-center">
 		  <div class="btn-group-vertical">
 		  	<a class="btn btn-primary " href="/wv/">West Virginia</a>
 			<a class="btn btn-primary " href="/wi/">Wisconsin</a>
 			<a class="btn btn-primary " href="/wy/">Wyoming</a>
 		  </div>
 		</div>

    </div>
</div>

<footer>
	{{ partial "footer.html" . }}

</footer>

</body>
</html>
